body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.password-generator {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

/* .password-generator {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
} */

.password-generator label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.password-generator input[type="text"],
.password-generator input[type="range"],
.password-generator button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-generator input[type="range"] {
  width: calc(100% - 35px);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.password-generator button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.password-generator button:hover {
  background-color: #0056b3;
}

.password-generator label input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.password-generator label span {
  display: inline-block;
  width: 30px;
  text-align: center;
}
